[flake8]
max-line-length = 200

ignore =
    E203,
    W503,
    E501,
    E302, E303, E305, E306,
    E221, E231,
    E401, E402,
    E701, E731,
    W293,
    F401, F811, F821, F841


exclude = .venv, venv, build, dist, .git, __pycache__


per-file-ignores =
    **/__init__.py: F401
    tests/*: E402, E302, E303, E305, W293
